* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;

  --bg-color: #0f172a;
  --stroke-color: #1e293b;

  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  --font-family: "Archivo", sans-serif;
  --font-h1: 800 24px/135% var(--font-family);
  --font-h2: 800 16px/140% var(--font-family);
  --font-h3: 800 14px/140% var(--font-family);
  --font-span: 600 14px/145% var(--font-family);
  --font-p: 400 14px/160% var(--font-family);
  --font-cap-sm: 500 10px/160% var(--font-family);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--font-p);
}

main {
  display: grid;

  row-gap: 80px;
  margin-block: 40px;

  column-gap: 32px;

  grid-template-columns: 2fr 1.4fr;
  grid-template-areas:
  "featured featured"
  "wekly wekly"
  "ia aside" 
  ;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.cap-txt-span {
  display: inline-block;
  text-transform: uppercase;
  padding: 4px 8px;
  background-color: var(--brand-color-dark);
  border-radius: 4px;
  font: var(--font-cap-sm);
}

.cap-txt-lg {
  margin-top: 8px;
  font: var(--font-h1);
}

.cap-txt-md {
  margin-top: 8px;
  font: var(--font-h2);
  padding: 12px;
}

.cap-txt-sm {
  margin-top: 8px;
  font: var(--font-h3);
}
