/* Utility fist */
.container {
  max-width: 1280px;
  margin-inline: auto;
}

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.weklyhead {
  border-top: 1px solid var(--stroke-color);
  padding-top: 12px;
  a {
    justify-content: right;
    gap: 4px;
    align-items: center;
  }

  span {
    display: inline-flex;
    background-image: url(../assets/ArrowRight.png);
    width: 16px;
    height: 16px;
  }
  a:hover span {
    background-image: url(../assets/ArrowRightHover.png);
  }
}
